@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-divider {
    border-left: 1px solid rgba(0,0,0,.135);
    height: 40px;
}